body {
    overflow: scroll;
    background-color: #fdfcf8;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.div_top_bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 580px;
    z-index: -200;
    background: url(../img/aboutus/TopBg.png) left no-repeat;
    background-size: auto 580px;
}

.content {
    margin-top: 477px;
    margin-bottom: 92px;
    font-size: 16px;
    line-height: 35px;
}

.content_top {
    height: 112px;
    background: url(../img/aboutus/aboutus.png) center no-repeat;
    background-size: auto 112px;
}

.title {
    padding-top: 80px;
    font-size: 30px;
    line-height: 40px;
    border-bottom: 1px solid #cccccc;
}

.div_info {
    width: 800px;
    margin: 0 auto;
    overflow: hidden;
}

.div_desc {
    margin-top: 40px;
    line-height: 35px;
    font-size: 16px;
}

.img_1 {
    float: right;
    margin-top: 40px;
    width: 324px;
    height: 324px;
    background: url("../img/aboutus/img1.png") center no-repeat;
    background-size: 100%;
}

.img_2 {
    float: left;
    margin-top: 40px;
    margin-right: 40px;
    width: 324px;
    height: 324px;
    background: url("../img/aboutus/img2.png") center no-repeat;
    background-size: 100%;
}

.bold {
    font-weight: bold;
}

.div_bottom {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height:92px;
    z-index: -1;
    background-color: #616161;
}

.div_bottom div {
    width: 697px;
    margin: 0 auto;
    height: 68px;
    background: url(../img/FAQ/bottom.png) center 23px no-repeat;
    background-size: 100%;
}

.ui-map {
    height: 671px;
    background: url("../img/aboutus/ditu.jpg") center no-repeat;
    background-size: 800px;
}