body {
    background: #fdfcf8;
    font-family:"Ping Hei Light", "Hiragino Sans GB W3", "黑体-简", "中等";
    margin: 0px;
}

.index_title {
    position: fixed;
    left: 20px;
    top: 10px;
    width: 209px;
    padding-top: 140px;
    height: 240px;
    background: url(../img/FAQ/FAQNavigation.png) center no-repeat;
    background-size: 100%;
}

.menu {
    position: fixed;
    right: 7.5%;
    height: 20px;
    top: 20px;
    font-size: 12px;
}

.index_title > ul {
    margin-left: -20px;
	*margin-left: 20px;
}

.menu > ul > li {
    float: right;
    margin-left: 20px;
	*margin-left: 20px;
    display: inline-block;
}

.menu > ul > li > a {
    color: #000000;
    text-decoration:none;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
}

.menu > ul > li.active > a {
    color: #ffffff;
    text-decoration:none;
    background-color: #000000;
    border-radius: 5px;
}

.index_title a{
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
}

ul {
    list-style: none;
}

.div_body {
    background-color: #fdfcf8;
}

.div_info {
    width: 800px;
    margin: 0 auto;
}

.tap_top {
    position: fixed;
    bottom: 150px;
    right: 35px;
    width: 50px;
    height: 51px;
    background: url("../img/onMouse.png") center no-repeat;
    background-size: 100%;
    -webkit-transition: -webkit-transform 800ms cubic-bezier(.77,0,.175,1);
    -moz-transition: -moz-transform 800ms cubic-bezier(.77,0,.175,1);
    -o-transition: -o-transform 800ms cubic-bezier(.77,0,.175,1);
    -ms-transition: -ms-transform 800ms cubic-bezier(.77,0,.175,1);
    transition: transform 800ms cubic-bezier(.77,0,.175,1);
}

.tap_top:hover{
    background: url("../img/onMouse_h.png") center no-repeat;
    background-size: 100%;
}

.tap_top_hide {
    -webkit-transform: translate3d(0,210px,0);
    -moz-transform: translate3d(0,210px,0);
    -o-transform: translate3d(0,210px,0);
    -ms-transform: translate3d(0,210px,0);
    transform: translate3d(0,210px,0);
}

.menu > ul > li > a {
    background-color: rgba(255, 255, 255, 0.3);
}